/** Ariprw v1 **/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    word-break: break-word;
}

img {
    width: 100%;
}

svg {
    max-width: 100%;
}

p {
    margin-bottom: 20px;
}

ul, ol {
    margin: 0px 0px 20px 20px;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a, input, textarea, button {
    outline: none;
}

a:focus-visible, input:focus-visible, textarea:focus-visible, button:focus-visible {
    outline: 2px solid var(--gray-300);
}

textarea {
    resize: vertical;
}

:root {
    --dark: #031921;
    --black: #000000;
    --white: #ffffff;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --red-50: #fdf2f2;
    --red-100: #fde8e8;
    --red-200: #fbd5d5;
    --red-300: #f8b4b4;
    --red-400: #f98080;
    --red-500: #f05252;
    --red-600: #e02424;
    --red-700: #c81e1e;
    --red-800: #9b1c1c;
    --red-900: #771d1d;
    --yellow-50: #fdfdea;
    --yellow-100: #fdf6b2;
    --yellow-200: #fce96a;
    --yellow-300: #faca15;
    --yellow-400: #e3a008;
    --yellow-500: #c27803;
    --yellow-600: #9f580a;
    --yellow-700: #8e4b10;
    --yellow-800: #723b13;
    --yellow-900: #633112;
    --lime-50: #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
    --lime-950: #1a2e05;
    --green-50: #f3faf7;
    --green-100: #def7ec;
    --green-200: #bcf0da;
    --green-300: #84e1bc;
    --green-400: #31c48d;
    --green-500: #0e9f6e;
    --green-600: #057a55;
    --green-700: #046c4e;
    --green-800: #03543f;
    --green-900: #014737;
    --blue-50: #ebf5ff;
    --blue-100: #e1effe;
    --blue-200: #c3ddfd;
    --blue-300: #a4cafe;
    --blue-400: #76a9fa;
    --blue-500: #3f83f8;
    --blue-600: #1c64f2;
    --blue-700: #1a56db;
    --blue-800: #1e429f;
    --blue-900: #233876;
    --indigo-50: #f0f5ff;
    --indigo-100: #e5edff;
    --indigo-200: #cddbfe;
    --indigo-300: #b4c6fc;
    --indigo-400: #8da2fb;
    --indigo-500: #6875f5;
    --indigo-600: #5850ec;
    --indigo-700: #5145cd;
    --indigo-800: #42389d;
    --indigo-900: #362f78;
    --purple-50: #f6f5ff;
    --purple-100: #edebfe;
    --purple-200: #dcd7fe;
    --purple-300: #cabffd;
    --purple-400: #ac94fa;
    --purple-500: #9061f9;
    --purple-600: #7e3af2;
    --purple-700: #6c2bd9;
    --purple-800: #5521b5;
    --purple-900: #4a1d96;
    --pink-50: #fdf2f8;
    --pink-100: #fce8f3;
    --pink-200: #fad1e8;
    --pink-300: #f8b4d9;
    --pink-400: #f17eb8;
    --pink-500: #e74694;
    --pink-600: #d61f69;
    --pink-700: #bf125d;
    --pink-800: #99154b;
    --pink-900: #751a3d;
}

.text-dark,.hover\:text-dark:hover {
    color: var(--dark);
}

.bg-dark,.hover\:bg-dark:hover {
    background-color: var(--dark);
}

.text-black,.hover\:text-black:hover {
    color: var(--black);
}

.bg-black,.hover\:bg-black:hover {
    background-color: var(--black);
}

.text-white,.hover\:text-white:hover {
    color: var(--white);
}

.bg-white,.hover\:bg-white:hover {
    background-color: var(--white);
}

.text-gray-50,.hover\:text-gray-50:hover {
    color: var(--gray-50);
}

.bg-gray-50,.hover\:bg-gray-50:hover {
    background-color: var(--gray-50);
}

.text-gray-100,.hover\:text-gray-100:hover {
    color: var(--gray-100);
}

.bg-gray-100,.hover\:bg-gray-100:hover {
    background-color: var(--gray-100);
}

.text-gray-200,.hover\:text-gray-200:hover {
    color: var(--gray-200);
}

.bg-gray-200,.hover\:bg-gray-200:hover {
    background-color: var(--gray-200);
}

.text-gray-300,.hover\:text-gray-300:hover {
    color: var(--gray-300);
}

.bg-gray-300,.hover\:bg-gray-300:hover {
    background-color: var(--gray-300);
}

.text-gray-400,.hover\:text-gray-400:hover {
    color: var(--gray-400);
}

.bg-gray-400,.hover\:bg-gray-400:hover {
    background-color: var(--gray-400);
}

.text-gray-500,.hover\:text-gray-500:hover {
    color: var(--gray-500);
}

.bg-gray-500,.hover\:bg-gray-500:hover {
    background-color: var(--gray-500);
}

.text-gray-600,.hover\:text-gray-600:hover {
    color: var(--gray-600);
}

.bg-gray-600,.hover\:bg-gray-600:hover {
    background-color: var(--gray-600);
}

.text-gray-700,.hover\:text-gray-700:hover {
    color: var(--gray-700);
}

.bg-gray-700,.hover\:bg-gray-700:hover {
    background-color: var(--gray-700);
}

.text-gray-800,.hover\:text-gray-800:hover {
    color: var(--gray-800);
}

.bg-gray-800,.hover\:bg-gray-800:hover {
    background-color: var(--gray-800);
}

.text-gray-900,.hover\:text-gray-900:hover {
    color: var(--gray-900);
}

.bg-gray-900,.hover\:bg-gray-900:hover {
    background-color: var(--gray-900);
}

.text-red-50,.hover\:text-red-50:hover {
    color: var(--red-50);
}

.bg-red-50,.hover\:bg-red-50:hover {
    background-color: var(--red-50);
}

.text-red-100,.hover\:text-red-100:hover {
    color: var(--red-100);
}

.bg-red-100,.hover\:bg-red-100:hover {
    background-color: var(--red-100);
}

.text-red-200,.hover\:text-red-200:hover {
    color: var(--red-200);
}

.bg-red-200,.hover\:bg-red-200:hover {
    background-color: var(--red-200);
}

.text-red-300,.hover\:text-red-300:hover {
    color: var(--red-300);
}

.bg-red-300,.hover\:bg-red-300:hover {
    background-color: var(--red-300);
}

.text-red-400,.hover\:text-red-400:hover {
    color: var(--red-400);
}

.bg-red-400,.hover\:bg-red-400:hover {
    background-color: var(--red-400);
}

.text-red-500,.hover\:text-red-500:hover {
    color: var(--red-500);
}

.bg-red-500,.hover\:bg-red-500:hover {
    background-color: var(--red-500);
}

.text-red-600,.hover\:text-red-600:hover {
    color: var(--red-600);
}

.bg-red-600,.hover\:bg-red-600:hover {
    background-color: var(--red-600);
}

.text-red-700,.hover\:text-red-700:hover {
    color: var(--red-700);
}

.bg-red-700,.hover\:bg-red-700:hover {
    background-color: var(--red-700);
}

.text-red-800,.hover\:text-red-800:hover {
    color: var(--red-800);
}

.bg-red-800,.hover\:bg-red-800:hover {
    background-color: var(--red-800);
}

.text-red-900,.hover\:text-red-900:hover {
    color: var(--red-900);
}

.bg-red-900,.hover\:bg-red-900:hover {
    background-color: var(--red-900);
}

.text-yellow-50,.hover\:text-yellow-50:hover {
    color: var(--yellow-50);
}

.bg-yellow-50,.hover\:bg-yellow-50:hover {
    background-color: var(--yellow-50);
}

.text-yellow-100,.hover\:text-yellow-100:hover {
    color: var(--yellow-100);
}

.bg-yellow-100,.hover\:bg-yellow-100:hover {
    background-color: var(--yellow-100);
}

.text-yellow-200,.hover\:text-yellow-200:hover {
    color: var(--yellow-200);
}

.bg-yellow-200,.hover\:bg-yellow-200:hover {
    background-color: var(--yellow-200);
}

.text-yellow-300,.hover\:text-yellow-300:hover {
    color: var(--yellow-300);
}

.bg-yellow-300,.hover\:bg-yellow-300:hover {
    background-color: var(--yellow-300);
}

.text-yellow-400,.hover\:text-yellow-400:hover {
    color: var(--yellow-400);
}

.bg-yellow-400,.hover\:bg-yellow-400:hover {
    background-color: var(--yellow-400);
}

.text-yellow-500,.hover\:text-yellow-500:hover {
    color: var(--yellow-500);
}

.bg-yellow-500,.hover\:bg-yellow-500:hover {
    background-color: var(--yellow-500);
}

.text-yellow-600,.hover\:text-yellow-600:hover {
    color: var(--yellow-600);
}

.bg-yellow-600,.hover\:bg-yellow-600:hover {
    background-color: var(--yellow-600);
}

.text-yellow-700,.hover\:text-yellow-700:hover {
    color: var(--yellow-700);
}

.bg-yellow-700,.hover\:bg-yellow-700:hover {
    background-color: var(--yellow-700);
}

.text-yellow-800,.hover\:text-yellow-800:hover {
    color: var(--yellow-800);
}

.bg-yellow-800,.hover\:bg-yellow-800:hover {
    background-color: var(--yellow-800);
}

.text-yellow-900,.hover\:text-yellow-900:hover {
    color: var(--yellow-900);
}

.bg-yellow-900,.hover\:bg-yellow-900:hover {
    background-color: var(--yellow-900);
}

.text-lime-50,.hover\:text-lime-50:hover {
    color: var(--lime-50);
}

.bg-lime-50,.hover\:bg-lime-50:hover {
    background-color: var(--lime-50);
}

.text-lime-100,.hover\:text-lime-100:hover {
    color: var(--lime-100);
}

.bg-lime-100,.hover\:bg-lime-100:hover {
    background-color: var(--lime-100);
}

.text-lime-200,.hover\:text-lime-200:hover {
    color: var(--lime-200);
}

.bg-lime-200,.hover\:bg-lime-200:hover {
    background-color: var(--lime-200);
}

.text-lime-300,.hover\:text-lime-300:hover {
    color: var(--lime-300);
}

.bg-lime-300,.hover\:bg-lime-300:hover {
    background-color: var(--lime-300);
}

.text-lime-400,.hover\:text-lime-400:hover {
    color: var(--lime-400);
}

.bg-lime-400,.hover\:bg-lime-400:hover {
    background-color: var(--lime-400);
}

.text-lime-500,.hover\:text-lime-500:hover {
    color: var(--lime-500);
}

.bg-lime-500,.hover\:bg-lime-500:hover {
    background-color: var(--lime-500);
}

.text-lime-600,.hover\:text-lime-600:hover {
    color: var(--lime-600);
}

.bg-lime-600,.hover\:bg-lime-600:hover {
    background-color: var(--lime-600);
}

.text-lime-700,.hover\:text-lime-700:hover {
    color: var(--lime-700);
}

.bg-lime-700,.hover\:bg-lime-700:hover {
    background-color: var(--lime-700);
}

.text-lime-800,.hover\:text-lime-800:hover {
    color: var(--lime-800);
}

.bg-lime-800,.hover\:bg-lime-800:hover {
    background-color: var(--lime-800);
}

.text-lime-900,.hover\:text-lime-900:hover {
    color: var(--lime-900);
}

.bg-lime-900,.hover\:bg-lime-900:hover {
    background-color: var(--lime-900);
}

.text-lime-950,.hover\:text-lime-950:hover {
    color: var(--lime-950);
}

.bg-lime-950,.hover\:bg-lime-950:hover {
    background-color: var(--lime-950);
}

.text-green-50,.hover\:text-green-50:hover {
    color: var(--green-50);
}

.bg-green-50,.hover\:bg-green-50:hover {
    background-color: var(--green-50);
}

.text-green-100,.hover\:text-green-100:hover {
    color: var(--green-100);
}

.bg-green-100,.hover\:bg-green-100:hover {
    background-color: var(--green-100);
}

.text-green-200,.hover\:text-green-200:hover {
    color: var(--green-200);
}

.bg-green-200,.hover\:bg-green-200:hover {
    background-color: var(--green-200);
}

.text-green-300,.hover\:text-green-300:hover {
    color: var(--green-300);
}

.bg-green-300,.hover\:bg-green-300:hover {
    background-color: var(--green-300);
}

.text-green-400,.hover\:text-green-400:hover {
    color: var(--green-400);
}

.bg-green-400,.hover\:bg-green-400:hover {
    background-color: var(--green-400);
}

.text-green-500,.hover\:text-green-500:hover {
    color: var(--green-500);
}

.bg-green-500,.hover\:bg-green-500:hover {
    background-color: var(--green-500);
}

.text-green-600,.hover\:text-green-600:hover {
    color: var(--green-600);
}

.bg-green-600,.hover\:bg-green-600:hover {
    background-color: var(--green-600);
}

.text-green-700,.hover\:text-green-700:hover {
    color: var(--green-700);
}

.bg-green-700,.hover\:bg-green-700:hover {
    background-color: var(--green-700);
}

.text-green-800,.hover\:text-green-800:hover {
    color: var(--green-800);
}

.bg-green-800,.hover\:bg-green-800:hover {
    background-color: var(--green-800);
}

.text-green-900,.hover\:text-green-900:hover {
    color: var(--green-900);
}

.bg-green-900,.hover\:bg-green-900:hover {
    background-color: var(--green-900);
}

.text-blue-50,.hover\:text-blue-50:hover {
    color: var(--blue-50);
}

.bg-blue-50,.hover\:bg-blue-50:hover {
    background-color: var(--blue-50);
}

.text-blue-100,.hover\:text-blue-100:hover {
    color: var(--blue-100);
}

.bg-blue-100,.hover\:bg-blue-100:hover {
    background-color: var(--blue-100);
}

.text-blue-200,.hover\:text-blue-200:hover {
    color: var(--blue-200);
}

.bg-blue-200,.hover\:bg-blue-200:hover {
    background-color: var(--blue-200);
}

.text-blue-300,.hover\:text-blue-300:hover {
    color: var(--blue-300);
}

.bg-blue-300,.hover\:bg-blue-300:hover {
    background-color: var(--blue-300);
}

.text-blue-400,.hover\:text-blue-400:hover {
    color: var(--blue-400);
}

.bg-blue-400,.hover\:bg-blue-400:hover {
    background-color: var(--blue-400);
}

.text-blue-500,.hover\:text-blue-500:hover {
    color: var(--blue-500);
}

.bg-blue-500,.hover\:bg-blue-500:hover {
    background-color: var(--blue-500);
}

.text-blue-600,.hover\:text-blue-600:hover {
    color: var(--blue-600);
}

.bg-blue-600,.hover\:bg-blue-600:hover {
    background-color: var(--blue-600);
}

.text-blue-700,.hover\:text-blue-700:hover {
    color: var(--blue-700);
}

.bg-blue-700,.hover\:bg-blue-700:hover {
    background-color: var(--blue-700);
}

.text-blue-800,.hover\:text-blue-800:hover {
    color: var(--blue-800);
}

.bg-blue-800,.hover\:bg-blue-800:hover {
    background-color: var(--blue-800);
}

.text-blue-900,.hover\:text-blue-900:hover {
    color: var(--blue-900);
}

.bg-blue-900,.hover\:bg-blue-900:hover {
    background-color: var(--blue-900);
}

.text-indigo-50,.hover\:text-indigo-50:hover {
    color: var(--indigo-50);
}

.bg-indigo-50,.hover\:bg-indigo-50:hover {
    background-color: var(--indigo-50);
}

.text-indigo-100,.hover\:text-indigo-100:hover {
    color: var(--indigo-100);
}

.bg-indigo-100,.hover\:bg-indigo-100:hover {
    background-color: var(--indigo-100);
}

.text-indigo-200,.hover\:text-indigo-200:hover {
    color: var(--indigo-200);
}

.bg-indigo-200,.hover\:bg-indigo-200:hover {
    background-color: var(--indigo-200);
}

.text-indigo-300,.hover\:text-indigo-300:hover {
    color: var(--indigo-300);
}

.bg-indigo-300,.hover\:bg-indigo-300:hover {
    background-color: var(--indigo-300);
}

.text-indigo-400,.hover\:text-indigo-400:hover {
    color: var(--indigo-400);
}

.bg-indigo-400,.hover\:bg-indigo-400:hover {
    background-color: var(--indigo-400);
}

.text-indigo-500,.hover\:text-indigo-500:hover {
    color: var(--indigo-500);
}

.bg-indigo-500,.hover\:bg-indigo-500:hover {
    background-color: var(--indigo-500);
}

.text-indigo-600,.hover\:text-indigo-600:hover {
    color: var(--indigo-600);
}

.bg-indigo-600,.hover\:bg-indigo-600:hover {
    background-color: var(--indigo-600);
}

.text-indigo-700,.hover\:text-indigo-700:hover {
    color: var(--indigo-700);
}

.bg-indigo-700,.hover\:bg-indigo-700:hover {
    background-color: var(--indigo-700);
}

.text-indigo-800,.hover\:text-indigo-800:hover {
    color: var(--indigo-800);
}

.bg-indigo-800,.hover\:bg-indigo-800:hover {
    background-color: var(--indigo-800);
}

.text-indigo-900,.hover\:text-indigo-900:hover {
    color: var(--indigo-900);
}

.bg-indigo-900,.hover\:bg-indigo-900:hover {
    background-color: var(--indigo-900);
}

.text-purple-50,.hover\:text-purple-50:hover {
    color: var(--purple-50);
}

.bg-purple-50,.hover\:bg-purple-50:hover {
    background-color: var(--purple-50);
}

.text-purple-100,.hover\:text-purple-100:hover {
    color: var(--purple-100);
}

.bg-purple-100,.hover\:bg-purple-100:hover {
    background-color: var(--purple-100);
}

.text-purple-200,.hover\:text-purple-200:hover {
    color: var(--purple-200);
}

.bg-purple-200,.hover\:bg-purple-200:hover {
    background-color: var(--purple-200);
}

.text-purple-300,.hover\:text-purple-300:hover {
    color: var(--purple-300);
}

.bg-purple-300,.hover\:bg-purple-300:hover {
    background-color: var(--purple-300);
}

.text-purple-400,.hover\:text-purple-400:hover {
    color: var(--purple-400);
}

.bg-purple-400,.hover\:bg-purple-400:hover {
    background-color: var(--purple-400);
}

.text-purple-500,.hover\:text-purple-500:hover {
    color: var(--purple-500);
}

.bg-purple-500,.hover\:bg-purple-500:hover {
    background-color: var(--purple-500);
}

.text-purple-600,.hover\:text-purple-600:hover {
    color: var(--purple-600);
}

.bg-purple-600,.hover\:bg-purple-600:hover {
    background-color: var(--purple-600);
}

.text-purple-700,.hover\:text-purple-700:hover {
    color: var(--purple-700);
}

.bg-purple-700,.hover\:bg-purple-700:hover {
    background-color: var(--purple-700);
}

.text-purple-800,.hover\:text-purple-800:hover {
    color: var(--purple-800);
}

.bg-purple-800,.hover\:bg-purple-800:hover {
    background-color: var(--purple-800);
}

.text-purple-900,.hover\:text-purple-900:hover {
    color: var(--purple-900);
}

.bg-purple-900,.hover\:bg-purple-900:hover {
    background-color: var(--purple-900);
}

.text-pink-50,.hover\:text-pink-50:hover {
    color: var(--pink-50);
}

.bg-pink-50,.hover\:bg-pink-50:hover {
    background-color: var(--pink-50);
}

.text-pink-100,.hover\:text-pink-100:hover {
    color: var(--pink-100);
}

.bg-pink-100,.hover\:bg-pink-100:hover {
    background-color: var(--pink-100);
}

.text-pink-200,.hover\:text-pink-200:hover {
    color: var(--pink-200);
}

.bg-pink-200,.hover\:bg-pink-200:hover {
    background-color: var(--pink-200);
}

.text-pink-300,.hover\:text-pink-300:hover {
    color: var(--pink-300);
}

.bg-pink-300,.hover\:bg-pink-300:hover {
    background-color: var(--pink-300);
}

.text-pink-400,.hover\:text-pink-400:hover {
    color: var(--pink-400);
}

.bg-pink-400,.hover\:bg-pink-400:hover {
    background-color: var(--pink-400);
}

.text-pink-500,.hover\:text-pink-500:hover {
    color: var(--pink-500);
}

.bg-pink-500,.hover\:bg-pink-500:hover {
    background-color: var(--pink-500);
}

.text-pink-600,.hover\:text-pink-600:hover {
    color: var(--pink-600);
}

.bg-pink-600,.hover\:bg-pink-600:hover {
    background-color: var(--pink-600);
}

.text-pink-700,.hover\:text-pink-700:hover {
    color: var(--pink-700);
}

.bg-pink-700,.hover\:bg-pink-700:hover {
    background-color: var(--pink-700);
}

.text-pink-800,.hover\:text-pink-800:hover {
    color: var(--pink-800);
}

.bg-pink-800,.hover\:bg-pink-800:hover {
    background-color: var(--pink-800);
}

.text-pink-900,.hover\:text-pink-900:hover {
    color: var(--pink-900);
}

.bg-pink-900,.hover\:bg-pink-900:hover {
    background-color: var(--pink-900);
}

.m-auto {
    margin: 0 auto;
}

.mt-1 {
    margin-top: -1px;
}

.mt-2 {
    margin-top: -2px;
}

.mt-3 {
    margin-top: -3px;
}

.mt-4 {
    margin-top: -4px;
}

.mt-5 {
    margin-top: -5px;
}

.mt-6 {
    margin-top: -6px;
}

.mt-7 {
    margin-top: -7px;
}

.mt-8 {
    margin-top: -8px;
}

.mt-9 {
    margin-top: -9px;
}

.mt-10 {
    margin-top: -10px;
}

.mt-11 {
    margin-top: -11px;
}

.mt-12 {
    margin-top: -12px;
}

.mt-13 {
    margin-top: -13px;
}

.mt-14 {
    margin-top: -14px;
}

.mt-15 {
    margin-top: -15px;
}

.m0 {
    margin: 0px;
}

.m1 {
    margin: 4px;
}

.m2 {
    margin: 8px;
}

.m3 {
    margin: 12px;
}

.m4 {
    margin: 16px;
}

.m5 {
    margin: 20px;
}

.m6 {
    margin: 24px;
}

.m7 {
    margin: 28px;
}

.m8 {
    margin: 32px;
}

.m9 {
    margin: 36px;
}

.mt0 {
    margin-top: 0px;
}

.mt1 {
    margin-top: 4px;
}

.mt2 {
    margin-top: 8px;
}

.mt3 {
    margin-top: 12px;
}

.mt4 {
    margin-top: 16px;
}

.mt5 {
    margin-top: 20px;
}

.mt6 {
    margin-top: 24px;
}

.mt7 {
    margin-top: 28px;
}

.mt8 {
    margin-top: 32px;
}

.mt9 {
    margin-top: 36px;
}

.mr0 {
    margin-right: 0px;
}

.mr1 {
    margin-right: 4px;
}

.mr2 {
    margin-right: 8px;
}

.mr3 {
    margin-right: 12px;
}

.mr4 {
    margin-right: 16px;
}

.mr5 {
    margin-right: 20px;
}

.mr6 {
    margin-right: 24px;
}

.mr7 {
    margin-right: 28px;
}

.mr8 {
    margin-right: 32px;
}

.mr9 {
    margin-right: 36px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb1 {
    margin-bottom: 4px;
}

.mb2 {
    margin-bottom: 8px;
}

.mb3 {
    margin-bottom: 12px;
}

.mb4 {
    margin-bottom: 16px;
}

.mb5 {
    margin-bottom: 20px;
}

.mb6 {
    margin-bottom: 24px;
}

.mb7 {
    margin-bottom: 28px;
}

.mb8 {
    margin-bottom: 32px;
}

.mb9 {
    margin-bottom: 36px;
}

.ml0 {
    margin-left: 0px;
}

.ml1 {
    margin-left: 4px;
}

.ml2 {
    margin-left: 8px;
}

.ml3 {
    margin-left: 12px;
}

.ml4 {
    margin-left: 16px;
}

.ml5 {
    margin-left: 20px;
}

.ml6 {
    margin-left: 24px;
}

.ml7 {
    margin-left: 28px;
}

.ml8 {
    margin-left: 32px;
}

.ml9 {
    margin-left: 36px;
}

.mx0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx1 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx2 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx3 {
    margin-left: 12px;
    margin-right: 12px;
}

.mx4 {
    margin-left: 16px;
    margin-right: 16px;
}

.mx5 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx6 {
    margin-left: 24px;
    margin-right: 24px;
}

.mx7 {
    margin-left: 28px;
    margin-right: 28px;
}

.mx8 {
    margin-left: 32px;
    margin-right: 32px;
}

.mx9 {
    margin-left: 36px;
    margin-right: 36px;
}

.my0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.my2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.my5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my6 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.my7 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.my8 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.my9 {
    margin-top: 36px;
    margin-bottom: 36px;
}

.p0 {
    padding: 0px;
}

.p1 {
    padding: 4px;
}

.p2 {
    padding: 8px;
}

.p3 {
    padding: 12px;
}

.p4 {
    padding: 16px;
}

.p5 {
    padding: 20px;
}

.p6 {
    padding: 24px;
}

.p7 {
    padding: 28px;
}

.p8 {
    padding: 32px;
}

.p9 {
    padding: 36px;
}

.pt0 {
    padding-top: 0px;
}

.pt1 {
    padding-top: 4px;
}

.pt2 {
    padding-top: 8px;
}

.pt3 {
    padding-top: 12px;
}

.pt4 {
    padding-top: 16px;
}

.pt5 {
    padding-top: 20px;
}

.pt6 {
    padding-top: 24px;
}

.pt7 {
    padding-top: 28px;
}

.pt8 {
    padding-top: 32px;
}

.pt9 {
    padding-top: 36px;
}

.pr0 {
    padding-right: 0px;
}

.pr1 {
    padding-right: 4px;
}

.pr2 {
    padding-right: 8px;
}

.pr3 {
    padding-right: 12px;
}

.pr4 {
    padding-right: 16px;
}

.pr5 {
    padding-right: 20px;
}

.pr6 {
    padding-right: 24px;
}

.pr7 {
    padding-right: 28px;
}

.pr8 {
    padding-right: 32px;
}

.pr9 {
    padding-right: 36px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb1 {
    padding-bottom: 4px;
}

.pb2 {
    padding-bottom: 8px;
}

.pb3 {
    padding-bottom: 12px;
}

.pb4 {
    padding-bottom: 16px;
}

.pb5 {
    padding-bottom: 20px;
}

.pb6 {
    padding-bottom: 24px;
}

.pb7 {
    padding-bottom: 28px;
}

.pb8 {
    padding-bottom: 32px;
}

.pb9 {
    padding-bottom: 36px;
}

.pl0 {
    padding-left: 0px;
}

.pl1 {
    padding-left: 4px;
}

.pl2 {
    padding-left: 8px;
}

.pl3 {
    padding-left: 12px;
}

.pl4 {
    padding-left: 16px;
}

.pl5 {
    padding-left: 20px;
}

.pl6 {
    padding-left: 24px;
}

.pl7 {
    padding-left: 28px;
}

.pl8 {
    padding-left: 32px;
}

.pl9 {
    padding-left: 36px;
}

.px0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px1 {
    padding-left: 4px;
    padding-right: 4px;
}

.px2 {
    padding-left: 8px;
    padding-right: 8px;
}

.px3 {
    padding-left: 12px;
    padding-right: 12px;
}

.px4 {
    padding-left: 16px;
    padding-right: 16px;
}

.px5 {
    padding-left: 20px;
    padding-right: 20px;
}

.px6 {
    padding-left: 24px;
    padding-right: 24px;
}

.px7 {
    padding-left: 28px;
    padding-right: 28px;
}

.px8 {
    padding-left: 32px;
    padding-right: 32px;
}

.px9 {
    padding-left: 36px;
    padding-right: 36px;
}

.py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py1 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py4 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py6 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py7 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.py8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py9 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

.hidden {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    width: 0% !important;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.no-italic {
    font-style: normal;
}

.underline {
    text-decoration-line: underline;
}

.no-underline {
    text-decoration-line: none;
}

.outline {
    outline: auto;
}

.no-outline, .no-outline:focus-visible {
    outline: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-xs {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-base {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 24px;
}

.text-2xl {
    font-size: 32px;
}

.text-3xl {
    font-size: 42px;
}

.text-4xl {
    font-size: 52px;
}

.text-5xl {
    font-size: 62px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-grow {
    flex-grow: 1;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.gap-3 {
    gap: 15px;
}

.gap-4 {
    gap: 20px;
}

.gap-5 {
    gap: 25px;
}

.gap-6 {
    gap: 30px;
}

.gap-7 {
    gap: 40px;
}

.gap-8 {
    gap: 50px;
}

.gap-9 {
    gap: 60px;
}

.grid-cols-1-9 {
    grid-template-columns: 1fr 9fr;
}

.grid-cols-2-8 {
    grid-template-columns: 2fr 8fr;
}

.grid-cols-3-7 {
    grid-template-columns: 3fr 7fr;
}

.grid-cols-4-6 {
    grid-template-columns: 4fr 6fr;
}

.grid-cols-9-1 {
    grid-template-columns: 9fr 1fr;
}

.grid-cols-8-2 {
    grid-template-columns: 8fr 2fr;
}

.grid-cols-7-3 {
    grid-template-columns: 7fr 3fr;
}

.grid-cols-6-4 {
    grid-template-columns: 6fr 4fr;
}

.grid-cols-3-1-5 {
    grid-template-columns: 3fr 0.1fr 5fr;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.border {
    border: 1px solid;
}

.border-t {
    border-top-style: solid;
    border-top-width: 1px;
}

.border-r {
    border-right-style: solid;
    border-right-width: 1px;
}

.border-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.border-l {
    border-left-style: solid;
    border-left-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-t-solid {
    border-top-style: solid;
}

.border-r-solid {
    border-right-style: solid;
}

.border-b-solid {
    border-bottom-style: solid;
}

.border-l-solid {
    border-left-style: solid;
}

.border-dashed {
    border-style: dashed;
}

.border-t-dashed {
    border-top-style: dashed;
}

.border-r-dashed {
    border-right-style: dashed;
}

.border-b-dashed {
    border-bottom-style: dashed;
}

.border-l-dashed {
    border-left-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-t-dotted {
    border-top-style: dotted;
}

.border-r-dotted {
    border-right-style: dotted;
}

.border-b-dotted {
    border-bottom-style: dotted;
}

.border-l-dotted {
    border-left-style: dotted;
}

.border-none {
    border-style: none;
}

.border-t-none {
    border-top-style: none;
}

.border-r-none {
    border-right-style: none;
}

.border-b-none {
    border-bottom-style: none;
}

.border-l-none {
    border-left-style: none;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-4 {
    border-width: 4px;
}

.border-dark,.hover\:border-dark:hover {
    border-color: var(--dark);
}

.border-black,.hover\:border-black:hover {
    border-color: var(--black);
}

.border-white,.hover\:border-white:hover {
    border-color: var(--white);
}

.border-gray-50,.hover\:border-gray-50:hover {
    border-color: var(--gray-50);
}

.border-gray-100,.hover\:border-gray-100:hover {
    border-color: var(--gray-100);
}

.border-gray-200,.hover\:border-gray-200:hover {
    border-color: var(--gray-200);
}

.border-gray-300,.hover\:border-gray-300:hover {
    border-color: var(--gray-300);
}

.border-gray-400,.hover\:border-gray-400:hover {
    border-color: var(--gray-400);
}

.border-gray-500,.hover\:border-gray-500:hover {
    border-color: var(--gray-500);
}

.border-gray-600,.hover\:border-gray-600:hover {
    border-color: var(--gray-600);
}

.border-gray-700,.hover\:border-gray-700:hover {
    border-color: var(--gray-700);
}

.border-gray-800,.hover\:border-gray-800:hover {
    border-color: var(--gray-800);
}

.border-gray-900,.hover\:border-gray-900:hover {
    border-color: var(--gray-900);
}

.border-red-50,.hover\:border-red-50:hover {
    border-color: var(--red-50);
}

.border-red-100,.hover\:border-red-100:hover {
    border-color: var(--red-100);
}

.border-red-200,.hover\:border-red-200:hover {
    border-color: var(--red-200);
}

.border-red-300,.hover\:border-red-300:hover {
    border-color: var(--red-300);
}

.border-red-400,.hover\:border-red-400:hover {
    border-color: var(--red-400);
}

.border-red-500,.hover\:border-red-500:hover {
    border-color: var(--red-500);
}

.border-red-600,.hover\:border-red-600:hover {
    border-color: var(--red-600);
}

.border-red-700,.hover\:border-red-700:hover {
    border-color: var(--red-700);
}

.border-red-800,.hover\:border-red-800:hover {
    border-color: var(--red-800);
}

.border-red-900,.hover\:border-red-900:hover {
    border-color: var(--red-900);
}

.border-yellow-50,.hover\:border-yellow-50:hover {
    border-color: var(--yellow-50);
}

.border-yellow-100,.hover\:border-yellow-100:hover {
    border-color: var(--yellow-100);
}

.border-yellow-200,.hover\:border-yellow-200:hover {
    border-color: var(--yellow-200);
}

.border-yellow-300,.hover\:border-yellow-300:hover {
    border-color: var(--yellow-300);
}

.border-yellow-400,.hover\:border-yellow-400:hover {
    border-color: var(--yellow-400);
}

.border-yellow-500,.hover\:border-yellow-500:hover {
    border-color: var(--yellow-500);
}

.border-yellow-600,.hover\:border-yellow-600:hover {
    border-color: var(--yellow-600);
}

.border-yellow-700,.hover\:border-yellow-700:hover {
    border-color: var(--yellow-700);
}

.border-yellow-800,.hover\:border-yellow-800:hover {
    border-color: var(--yellow-800);
}

.border-yellow-900,.hover\:border-yellow-900:hover {
    border-color: var(--yellow-900);
}

.border-lime-50,.hover\:border-lime-50:hover {
    border-color: var(--lime-50);
}

.border-lime-100,.hover\:border-lime-100:hover {
    border-color: var(--lime-100);
}

.border-lime-200,.hover\:border-lime-200:hover {
    border-color: var(--lime-200);
}

.border-lime-300,.hover\:border-lime-300:hover {
    border-color: var(--lime-300);
}

.border-lime-400,.hover\:border-lime-400:hover {
    border-color: var(--lime-400);
}

.border-lime-500,.hover\:border-lime-500:hover {
    border-color: var(--lime-500);
}

.border-lime-600,.hover\:border-lime-600:hover {
    border-color: var(--lime-600);
}

.border-lime-700,.hover\:border-lime-700:hover {
    border-color: var(--lime-700);
}

.border-lime-800,.hover\:border-lime-800:hover {
    border-color: var(--lime-800);
}

.border-lime-900,.hover\:border-lime-900:hover {
    border-color: var(--lime-900);
}

.border-lime-950,.hover\:border-lime-950:hover {
    border-color: var(--lime-950);
}

.border-green-50,.hover\:border-green-50:hover {
    border-color: var(--green-50);
}

.border-green-100,.hover\:border-green-100:hover {
    border-color: var(--green-100);
}

.border-green-200,.hover\:border-green-200:hover {
    border-color: var(--green-200);
}

.border-green-300,.hover\:border-green-300:hover {
    border-color: var(--green-300);
}

.border-green-400,.hover\:border-green-400:hover {
    border-color: var(--green-400);
}

.border-green-500,.hover\:border-green-500:hover {
    border-color: var(--green-500);
}

.border-green-600,.hover\:border-green-600:hover {
    border-color: var(--green-600);
}

.border-green-700,.hover\:border-green-700:hover {
    border-color: var(--green-700);
}

.border-green-800,.hover\:border-green-800:hover {
    border-color: var(--green-800);
}

.border-green-900,.hover\:border-green-900:hover {
    border-color: var(--green-900);
}

.border-blue-50,.hover\:border-blue-50:hover {
    border-color: var(--blue-50);
}

.border-blue-100,.hover\:border-blue-100:hover {
    border-color: var(--blue-100);
}

.border-blue-200,.hover\:border-blue-200:hover {
    border-color: var(--blue-200);
}

.border-blue-300,.hover\:border-blue-300:hover {
    border-color: var(--blue-300);
}

.border-blue-400,.hover\:border-blue-400:hover {
    border-color: var(--blue-400);
}

.border-blue-500,.hover\:border-blue-500:hover {
    border-color: var(--blue-500);
}

.border-blue-600,.hover\:border-blue-600:hover {
    border-color: var(--blue-600);
}

.border-blue-700,.hover\:border-blue-700:hover {
    border-color: var(--blue-700);
}

.border-blue-800,.hover\:border-blue-800:hover {
    border-color: var(--blue-800);
}

.border-blue-900,.hover\:border-blue-900:hover {
    border-color: var(--blue-900);
}

.border-indigo-50,.hover\:border-indigo-50:hover {
    border-color: var(--indigo-50);
}

.border-indigo-100,.hover\:border-indigo-100:hover {
    border-color: var(--indigo-100);
}

.border-indigo-200,.hover\:border-indigo-200:hover {
    border-color: var(--indigo-200);
}

.border-indigo-300,.hover\:border-indigo-300:hover {
    border-color: var(--indigo-300);
}

.border-indigo-400,.hover\:border-indigo-400:hover {
    border-color: var(--indigo-400);
}

.border-indigo-500,.hover\:border-indigo-500:hover {
    border-color: var(--indigo-500);
}

.border-indigo-600,.hover\:border-indigo-600:hover {
    border-color: var(--indigo-600);
}

.border-indigo-700,.hover\:border-indigo-700:hover {
    border-color: var(--indigo-700);
}

.border-indigo-800,.hover\:border-indigo-800:hover {
    border-color: var(--indigo-800);
}

.border-indigo-900,.hover\:border-indigo-900:hover {
    border-color: var(--indigo-900);
}

.border-purple-50,.hover\:border-purple-50:hover {
    border-color: var(--purple-50);
}

.border-purple-100,.hover\:border-purple-100:hover {
    border-color: var(--purple-100);
}

.border-purple-200,.hover\:border-purple-200:hover {
    border-color: var(--purple-200);
}

.border-purple-300,.hover\:border-purple-300:hover {
    border-color: var(--purple-300);
}

.border-purple-400,.hover\:border-purple-400:hover {
    border-color: var(--purple-400);
}

.border-purple-500,.hover\:border-purple-500:hover {
    border-color: var(--purple-500);
}

.border-purple-600,.hover\:border-purple-600:hover {
    border-color: var(--purple-600);
}

.border-purple-700,.hover\:border-purple-700:hover {
    border-color: var(--purple-700);
}

.border-purple-800,.hover\:border-purple-800:hover {
    border-color: var(--purple-800);
}

.border-purple-900,.hover\:border-purple-900:hover {
    border-color: var(--purple-900);
}

.border-pink-50,.hover\:border-pink-50:hover {
    border-color: var(--pink-50);
}

.border-pink-100,.hover\:border-pink-100:hover {
    border-color: var(--pink-100);
}

.border-pink-200,.hover\:border-pink-200:hover {
    border-color: var(--pink-200);
}

.border-pink-300,.hover\:border-pink-300:hover {
    border-color: var(--pink-300);
}

.border-pink-400,.hover\:border-pink-400:hover {
    border-color: var(--pink-400);
}

.border-pink-500,.hover\:border-pink-500:hover {
    border-color: var(--pink-500);
}

.border-pink-600,.hover\:border-pink-600:hover {
    border-color: var(--pink-600);
}

.border-pink-700,.hover\:border-pink-700:hover {
    border-color: var(--pink-700);
}

.border-pink-800,.hover\:border-pink-800:hover {
    border-color: var(--pink-800);
}

.border-pink-900,.hover\:border-pink-900:hover {
    border-color: var(--pink-900);
}

.rounded {
    border-radius: 4px;
}

.rounded-sm {
    border-radius: 2px;
}

.rounded-md {
    border-radius: 6px;
}

.rounded-lg {
    border-radius: 12px;
}

.rounded-xl {
    border-radius: 18px;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-t-lg {
    border-radius: 12px 12px 0px 0px;
}

.rounded-r-lg {
    border-radius: 0px 12px 12px 0px;
}

.rounded-b-lg {
    border-radius: 0px 0px 12px 12px;
}

.rounded-l-lg {
    border-radius: 12px 0px 0px 12px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.static {
    position: static;
}

.top-full {
    top: 100%;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.left-250 {
    left: 250px;
}

.w-250 {
    width: 250px;
}

.w-calc-250 {
    width: calc(100% - 250px);
}

.left-400 {
    left: 400px;
}

.w-400 {
    width: 400px;
}

.w-calc-400 {
    width: calc(100% - 400px);
}

.va-5 {
    vertical-align: -5px;
}

.va-4 {
    vertical-align: -4px;
}

.va-3 {
    vertical-align: -3px;
}

.va-2 {
    vertical-align: -2px;
}

.va-1 {
    vertical-align: -1px;
}

.va0 {
    vertical-align: 0px;
}

.va1 {
    vertical-align: 1px;
}

.va2 {
    vertical-align: 2px;
}

.va3 {
    vertical-align: 3px;
}

.va4 {
    vertical-align: 4px;
}

.va5 {
    vertical-align: 5px;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-visible {
    overflow: visible;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-y-visible {
    overflow-y: visible;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.shadow-lg {
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.opacity-0,.hover\:opacity-0:hover {
    opacity: 0;
}

.opacity-50,.hover\:opacity-50:hover {
    opacity: 0.5;
}

.opacity-100,.hover\:opacity-100:hover {
    opacity: 1;
}

.transition {
    transition: all 0.3s ease;
}

.user-select-none {
    user-select: none;
}

.user-select-auto {
    user-select: auto;
}

.user-select-text {
    user-select: text;
}

.backdrop-blur-xs {
    backdrop-filter: blur(4px);
}

.backdrop-blur-sm {
    backdrop-filter: blur(8px);
}

.backdrop-blur-md {
    backdrop-filter: blur(12px);
}

.backdrop-blur-lg {
    backdrop-filter: blur(16px);
}

.backdrop-blur-xl {
    backdrop-filter: blur(24px);
}

.backdrop-blur-2xl {
    backdrop-filter: blur(40px);
}

.backdrop-blur-3xl {
    backdrop-filter: blur(64px);
}

.backdrop-blur-none {
    backdrop-filter: none;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 10;
}

.z2 {
    z-index: 20;
}

.z3 {
    z-index: 30;
}

.z4 {
    z-index: 40;
}

.z5 {
    z-index: 50;
}

.z-full {
    z-index: 999;
}

.z-auto {
    z-index: auto;
}

.svg0,.svg\:svg0 svg {
    vertical-align: -2px;
    width: 12px;
    height: 12px;
}

.svg1,.svg\:svg1 svg {
    vertical-align: -2px;
    width: 16px;
    height: 16px;
}

.svg2,.svg\:svg2 svg {
    vertical-align: -2px;
    width: 18px;
    height: 18px;
}

.svg3,.svg\:svg3 svg {
    vertical-align: -2px;
    width: 24px;
    height: 24px;
}

.svg4,.svg\:svg4 svg {
    vertical-align: -2px;
    width: 28px;
    height: 28px;
}

.svg\:middle svg {
    vertical-align: middle;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-screen {
    width: 100vh;
}

.w-screen-75 {
    width: 75vw;
}

.w-0 {
    width: 0;
}

.w-1-4 {
    width: 25%;
}

.w-1-3 {
    width: 33.33%;
}

.w-2-3 {
    width: 66.66%;
}

.w-1-2 {
    width: 50%;
}

.w-3-4 {
    width: 75%;
}

.w-1-5 {
    width: 20%;
}

.w-2-5 {
    width: 40%;
}

.w-3-5 {
    width: 60%;
}

.w-4-5 {
    width: 80%;
}

.w-a4-portrait {
    width: 210mm;
}

.w-a4-landscape {
    width: 297mm;
}

.h-full {
    height: 100%;
}

.h-auto {
    height: auto;
}

.h-screen {
    height: 100vh;
}

.h-screen-75 {
    height: 75vw;
}

.h-0 {
    height: 0;
}

.h-1-4 {
    height: 25%;
}

.h-1-3 {
    height: 33.33%;
}

.h-2-3 {
    height: 66.66%;
}

.h-1-2 {
    height: 50%;
}

.h-3-4 {
    height: 75%;
}

.h-1-5 {
    height: 20%;
}

.h-2-5 {
    height: 40%;
}

.h-3-5 {
    height: 60%;
}

.h-4-5 {
    height: 80%;
}

.h-a4-portrait {
    height: 297mm;
}

.h-a4-landscape {
    height: 210mm;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-1000 {
    max-width: 1000px;
}

.max-w-full {
    max-width: 100%;
}

.max-w-screen {
    max-width: 100vh;
}

.max-w-screen-75 {
    max-width: 75vh;
}

.max-w-1-4 {
    max-width: 25%;
}

.max-w-1-3 {
    max-width: 33.33%;
}

.max-w-1-2 {
    max-width: 50%;
}

.max-w-2-3 {
    max-width: 66.66%;
}

.max-w-3-4 {
    max-width: 75%;
}

.max-w-0 {
    max-width: 0;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-400 {
    max-width: 400px;
}

.max-h-full {
    max-height: 100%;
}

.max-h-screen {
    max-height: 100vh;
}

.max-h-screen-75 {
    max-height: 75vh;
}

.max-h-1-4 {
    max-height: 25%;
}

.max-h-1-3 {
    max-height: 33.33%;
}

.max-h-1-2 {
    max-height: 50%;
}

.max-h-2-3 {
    max-height: 66.66%;
}

.max-h-3-4 {
    max-height: 75%;
}

.max-h-0 {
    max-height: 0;
}

.max-h-50 {
    max-height: 50px;
}

.max-h-100 {
    max-height: 100px;
}

.max-h-150 {
    max-height: 150px;
}

.max-h-200 {
    max-height: 200px;
}

.max-h-400 {
    max-height: 400px;
}

.min-w-full {
    min-width: 100%;
}

.min-w-screen {
    min-width: 100vh;
}

.min-w-screen-75 {
    min-width: 75vh;
}

.min-w-1-4 {
    min-width: 25%;
}

.min-w-1-3 {
    min-width: 33.33%;
}

.min-w-1-2 {
    min-width: 50%;
}

.min-w-2-3 {
    min-width: 66.66%;
}

.min-w-3-4 {
    min-width: 75%;
}

.min-w-0 {
    min-width: 0;
}

.min-w-50 {
    min-width: 50px;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-150 {
    min-width: 150px;
}

.min-w-200 {
    min-width: 200px;
}

.min-w-400 {
    min-width: 400px;
}

.min-h-full {
    min-height: 100%;
}

.min-h-screen {
    min-height: 100vh;
}

.min-h-screen-75 {
    min-height: 75vh;
}

.min-h-1-4 {
    min-height: 25%;
}

.min-h-1-3 {
    min-height: 33.33%;
}

.min-h-1-2 {
    min-height: 50%;
}

.min-h-2-3 {
    min-height: 66.66%;
}

.min-h-3-4 {
    min-height: 75%;
}

.min-h-0 {
    min-height: 0;
}

.min-h-50 {
    min-height: 50px;
}

.min-h-100 {
    min-height: 100px;
}

.min-h-150 {
    min-height: 150px;
}

.min-h-200 {
    min-height: 200px;
}

.min-h-400 {
    min-height: 400px;
}

.selectSelected:after {
    position: absolute;
    content: '';
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: currentColor transparent transparent transparent;
}

.selectSelected.selectArrowActive:after {
    border-color: transparent transparent currentColor transparent;
    top: 15px;
}

.preLine {
    white-space: pre-line;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,.table td {
    border-bottom: 1px solid var(--gray-300);
    font-size: 15px;
    padding: 12px 8px;
    text-align: left;
}

.table tr:hover {
    background-color: var(--gray-100);
}

.table-border {
    width: 100%;
    border-collapse: collapse;
}

.table-border th {
    background-color: var(--gray-200);
    border: 1px solid var(--gray-300);
    font-size: 15px;
    font-weight: 600;
    padding: 12px 8px;
    text-align: left;
}

.table-border td {
    border: 1px solid var(--gray-300);
    font-size: 15px;
    padding: 12px 8px;
    text-align: left;
}

.table-border tr:hover {
    background-color: var(--gray-100);
}

.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    list-style: none;
    user-select: none;
}

.pagination > a, .pagination > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: var(--green-600);
    text-decoration: none;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
}

.page-item {
    display: inline-block;
}

.page-link {
    position: relative;
    float: left;
    font-size: 14px;
    padding: 6px 12px;
    margin-left: -5px;
    line-height: 1.4;
    color: var(--green-600);
    text-decoration: none;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
}

.page-link:hover {
    color: var(--white);
    background-color: var(--green-600);
    border-color: var(--green-600);
}

.active .page-link {
    color: var(--white);
    cursor: not-allowed;
    background-color: var(--green-600);
    border-color: var(--green-600);
}

.filter-blur-1 {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.filter-blur-2 {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.bg-dark-opacity {
    background-color: rgba(3, 25, 33, 0.33);
}

.bg-white-opacity {
    background-color: rgba(169, 169, 169, 0.33);
}

.line-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--yellow-300);
    transition: width 0.3s ease;
}

.line-hover:hover::after {
    width: 100%;
}

.item-line-hover-target::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--yellow-300);
    transition: width 0.3s ease;
}

.line-hover-target:hover .item-line-hover-target::after {
    width: 100%;
}

.button-hover-target:hover .item-button-hover-target {
    background: var(--yellow-300);
    color: var(--dark);
}

.gradasi-blur-tengah {
    width: 50vw;
    height: 400px;
    background: linear-gradient(180deg, var(--gray-500) -.14%, var(--dark));
    filter: blur(130px);
    right: 480px;
    bottom: -38px;
    position: absolute;
    z-index: -6;
    animation: animasiGradasiBlur 6s ease-in-out infinite;
}

.gradasi-blur-kanan {
    width: 50vw;
    height: 200px;
    background: linear-gradient(180deg, var(--yellow-200) -.14%, var(--dark));
    filter: blur(130px);
    right: 100px;
    bottom: 0;
    position: absolute;
    z-index: -5;
    animation: animasiGradasiBlur 4s ease-in-out infinite;
}

.gradasi-blur-kiri {
    width: 50vw;
    height: 200px;
    background: linear-gradient(180deg, var(--yellow-200), var(--blue-500));
    opacity: .3;
    filter: blur(100px);
    transform: rotate(174.4deg) translate3d(25%,0,0);
    position: absolute;
    z-index: -5;
    left: 25%;
    bottom: 0;
}

.transform-rotate45 {
    transform: rotate(45deg);
}

.transform-rotate-45 {
    transform: rotate(-45deg);
}

.transform-rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transition-cubic-bezier {
    transition: all 0.5s cubic-bezier(.77,0,.175,1);
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.ratio-16-9 {
    aspect-ratio: 16 / 9;
}

.webkit-ellipsis-1 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.webkit-ellipsis-2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.dataPlaceholder:empty::before {
    content: attr(data-placeholder);
    color: var(--gray-500);
    pointer-events: none;
}

.slideLogo {
    width: max-content;
    -webkit-animation: slideLogo 18s linear infinite;
    animation: slideLogo 18s linear infinite;
}

@keyframes slideLogo {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

@keyframes animasiGradasiBlur {
    0% {opacity:.3;transform:rotate(-37.5deg) translate3d(0,10%,0)}
    50% {opacity:.5;transform:rotate(-27.5deg) translate3d(0,-10%,0)}
    to {opacity:.3;transform:rotate(-37.5deg) translate3d(0,10%,0)}
}

@media (max-width: 1000px) {
.sm\:text-left {
    text-align: left;
}

.sm\:text-center {
    text-align: center;
}

.sm\:text-right {
    text-align: right;
}

.sm\:text-sm {
    font-size: 14px;
}

.sm\:text-base {
    font-size: 16px;
}

.sm\:text-xl {
    font-size: 24px;
}

.sm\:text-2xl {
    font-size: 32px;
}

.sm\:text-3xl {
    font-size: 42px;
}

.sm\:text-4xl {
    font-size: 52px;
}

.sm\:text-5xl {
    font-size: 62px;
}

.sm\:flex {
    display: flex;
}

.sm\:grid {
    display: grid;
}

.sm\:block {
    display: block;
}

.sm\:inline {
    display: inline;
}

.sm\:inline-block {
    display: inline-block;
}

.sm\:none {
    display: none;
}

.sm\:hidden {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    width: 0% !important;
}

.sm\:overflow-hidden {
    overflow: hidden;
}

.sm\:overflow-y-auto {
    overflow: auto;
}

.sm\:overflow-y-none {
    overflow: unset;
}

.sm\:absolute {
    position: absolute;
}

.sm\:position-none {
    position: unset;
}

.sm\:flex-col {
    flex-direction: column;
}

.sm\:items-start {
    align-items: start;
}

.sm\:items-center {
    align-items: center;
}

.sm\:justify-around {
    justify-content: space-around;
}

.sm\:justify-between {
    justify-content: space-between;
}

.sm\:justify-end {
    justify-content: end;
}

.sm\:opacity-0 {
    opacity: 0;
}

.sm\:opacity-50 {
    opacity: 0.5;
}

.sm\:opacity-100 {
    opacity: 1;
}

.sm\:z-0 {
    z-index: 0;
}

.sm\:z-10 {
    z-index: 10;
}

.sm\:w-0 {
    width: 0;
}

.sm\:w-full {
    width: 100%;
}

.sm\:max-w-0 {
    max-width: 0;
}

.sm\:max-w-full {
    max-width: 100%;
}

.sm\:max-h-0 {
    max-height: 0;
}

.sm\:max-h-full {
    max-height: 100%;
}

.sm\:max-h-screen-75 {
    max-height: 75vh;
}

.sm\:max-h-400 {
    max-height: 400px;
}

.sm\:min-w-full {
    min-width: 100%;
}

.sm\:gap-0 {
    gap: 0;
}

.sm\:gap-2 {
    gap: 20px;
}

.sm\:grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.sm\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.sm\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.sm\:grid-cols-9-1 {
    grid-template-columns: 9fr 1fr;
}

.sm\:order-1 {
    order: 1;
}

.sm\:order-2 {
    order: 2;
}

.sm\:order-3 {
    order: 3;
}

.sm\:order-4 {
    order: 4;
}

.sm\:top-full {
    top: 100%;
}

.sm\:top-0 {
    top: 0;
}

.sm\:bottom-0 {
    bottom: 0;
}

.sm\:left-0 {
    left: 0;
}

.sm\:right-0 {
    right: 0;
}

.sm\:border-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sm\:border-none {
    border-style: none;
}

.sm\:rounded-none {
    border-radius: 0;
}

.sm\:filter-blur-1 {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.sm\:filter-blur-2 {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.sm\:m0 {
    margin: 0px;
}

.sm\:m1 {
    margin: 4px;
}

.sm\:m2 {
    margin: 8px;
}

.sm\:m3 {
    margin: 12px;
}

.sm\:m4 {
    margin: 16px;
}

.sm\:m5 {
    margin: 20px;
}

.sm\:m6 {
    margin: 24px;
}

.sm\:m7 {
    margin: 28px;
}

.sm\:m8 {
    margin: 32px;
}

.sm\:m9 {
    margin: 36px;
}

.sm\:mt0 {
    margin-top: 0px;
}

.sm\:mt1 {
    margin-top: 4px;
}

.sm\:mt2 {
    margin-top: 8px;
}

.sm\:mt3 {
    margin-top: 12px;
}

.sm\:mt4 {
    margin-top: 16px;
}

.sm\:mt5 {
    margin-top: 20px;
}

.sm\:mt6 {
    margin-top: 24px;
}

.sm\:mt7 {
    margin-top: 28px;
}

.sm\:mt8 {
    margin-top: 32px;
}

.sm\:mt9 {
    margin-top: 36px;
}

.sm\:mr0 {
    margin-right: 0px;
}

.sm\:mr1 {
    margin-right: 4px;
}

.sm\:mr2 {
    margin-right: 8px;
}

.sm\:mr3 {
    margin-right: 12px;
}

.sm\:mr4 {
    margin-right: 16px;
}

.sm\:mr5 {
    margin-right: 20px;
}

.sm\:mr6 {
    margin-right: 24px;
}

.sm\:mr7 {
    margin-right: 28px;
}

.sm\:mr8 {
    margin-right: 32px;
}

.sm\:mr9 {
    margin-right: 36px;
}

.sm\:mb0 {
    margin-bottom: 0px;
}

.sm\:mb1 {
    margin-bottom: 4px;
}

.sm\:mb2 {
    margin-bottom: 8px;
}

.sm\:mb3 {
    margin-bottom: 12px;
}

.sm\:mb4 {
    margin-bottom: 16px;
}

.sm\:mb5 {
    margin-bottom: 20px;
}

.sm\:mb6 {
    margin-bottom: 24px;
}

.sm\:mb7 {
    margin-bottom: 28px;
}

.sm\:mb8 {
    margin-bottom: 32px;
}

.sm\:mb9 {
    margin-bottom: 36px;
}

.sm\:ml0 {
    margin-left: 0px;
}

.sm\:ml1 {
    margin-left: 4px;
}

.sm\:ml2 {
    margin-left: 8px;
}

.sm\:ml3 {
    margin-left: 12px;
}

.sm\:ml4 {
    margin-left: 16px;
}

.sm\:ml5 {
    margin-left: 20px;
}

.sm\:ml6 {
    margin-left: 24px;
}

.sm\:ml7 {
    margin-left: 28px;
}

.sm\:ml8 {
    margin-left: 32px;
}

.sm\:ml9 {
    margin-left: 36px;
}

.sm\:mx0 {
    margin-left: 0px;
    margin-right: 0px;
}

.sm\:my0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sm\:mx1 {
    margin-left: 4px;
    margin-right: 4px;
}

.sm\:my1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sm\:mx2 {
    margin-left: 8px;
    margin-right: 8px;
}

.sm\:my2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sm\:mx3 {
    margin-left: 12px;
    margin-right: 12px;
}

.sm\:my3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.sm\:mx4 {
    margin-left: 16px;
    margin-right: 16px;
}

.sm\:my4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sm\:mx5 {
    margin-left: 20px;
    margin-right: 20px;
}

.sm\:my5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sm\:mx6 {
    margin-left: 24px;
    margin-right: 24px;
}

.sm\:my6 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.sm\:mx7 {
    margin-left: 28px;
    margin-right: 28px;
}

.sm\:my7 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.sm\:mx8 {
    margin-left: 32px;
    margin-right: 32px;
}

.sm\:my8 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.sm\:mx9 {
    margin-left: 36px;
    margin-right: 36px;
}

.sm\:my9 {
    margin-top: 36px;
    margin-bottom: 36px;
}

.sm\:p0 {
    padding: 0px;
}

.sm\:p1 {
    padding: 4px;
}

.sm\:p2 {
    padding: 8px;
}

.sm\:p3 {
    padding: 12px;
}

.sm\:p4 {
    padding: 16px;
}

.sm\:p5 {
    padding: 20px;
}

.sm\:p6 {
    padding: 24px;
}

.sm\:p7 {
    padding: 28px;
}

.sm\:p8 {
    padding: 32px;
}

.sm\:p9 {
    padding: 36px;
}

.sm\:pt0 {
    padding-top: 0px;
}

.sm\:pt1 {
    padding-top: 4px;
}

.sm\:pt2 {
    padding-top: 8px;
}

.sm\:pt3 {
    padding-top: 12px;
}

.sm\:pt4 {
    padding-top: 16px;
}

.sm\:pt5 {
    padding-top: 20px;
}

.sm\:pt6 {
    padding-top: 24px;
}

.sm\:pt7 {
    padding-top: 28px;
}

.sm\:pt8 {
    padding-top: 32px;
}

.sm\:pt9 {
    padding-top: 36px;
}

.sm\:pr0 {
    padding-right: 0px;
}

.sm\:pr1 {
    padding-right: 4px;
}

.sm\:pr2 {
    padding-right: 8px;
}

.sm\:pr3 {
    padding-right: 12px;
}

.sm\:pr4 {
    padding-right: 16px;
}

.sm\:pr5 {
    padding-right: 20px;
}

.sm\:pr6 {
    padding-right: 24px;
}

.sm\:pr7 {
    padding-right: 28px;
}

.sm\:pr8 {
    padding-right: 32px;
}

.sm\:pr9 {
    padding-right: 36px;
}

.sm\:pb0 {
    padding-bottom: 0px;
}

.sm\:pb1 {
    padding-bottom: 4px;
}

.sm\:pb2 {
    padding-bottom: 8px;
}

.sm\:pb3 {
    padding-bottom: 12px;
}

.sm\:pb4 {
    padding-bottom: 16px;
}

.sm\:pb5 {
    padding-bottom: 20px;
}

.sm\:pb6 {
    padding-bottom: 24px;
}

.sm\:pb7 {
    padding-bottom: 28px;
}

.sm\:pb8 {
    padding-bottom: 32px;
}

.sm\:pb9 {
    padding-bottom: 36px;
}

.sm\:pl0 {
    padding-left: 0px;
}

.sm\:pl1 {
    padding-left: 4px;
}

.sm\:pl2 {
    padding-left: 8px;
}

.sm\:pl3 {
    padding-left: 12px;
}

.sm\:pl4 {
    padding-left: 16px;
}

.sm\:pl5 {
    padding-left: 20px;
}

.sm\:pl6 {
    padding-left: 24px;
}

.sm\:pl7 {
    padding-left: 28px;
}

.sm\:pl8 {
    padding-left: 32px;
}

.sm\:pl9 {
    padding-left: 36px;
}

.sm\:px0 {
    padding-left: 0px;
    padding-right: 0px;
}

.sm\:py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sm\:px1 {
    padding-left: 4px;
    padding-right: 4px;
}

.sm\:py1 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.sm\:px2 {
    padding-left: 8px;
    padding-right: 8px;
}

.sm\:py2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.sm\:px3 {
    padding-left: 12px;
    padding-right: 12px;
}

.sm\:py3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.sm\:px4 {
    padding-left: 16px;
    padding-right: 16px;
}

.sm\:py4 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.sm\:px5 {
    padding-left: 20px;
    padding-right: 20px;
}

.sm\:py5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sm\:px6 {
    padding-left: 24px;
    padding-right: 24px;
}

.sm\:py6 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.sm\:px7 {
    padding-left: 28px;
    padding-right: 28px;
}

.sm\:py7 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.sm\:px8 {
    padding-left: 32px;
    padding-right: 32px;
}

.sm\:py8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.sm\:px9 {
    padding-left: 36px;
    padding-right: 36px;
}

.sm\:py9 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.sm\:bg-dark,.sm\:hover\:bg-dark:hover {
    background-color: var(--dark);
}

.sm\:bg-dark-opacity {
    background-color: rgba(3, 25, 33, 0.33);
}

.table thead {
    display: none;
}

.table,.table tbody,.table tr,.table td {
    display: block;
    width: 100%;
}

.table tr {
    border: 1px solid var(--gray-300);
    border-radius: 12px;
    margin-bottom: 20px;
}

.table td {
    font-size: 14px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 5px;
}

.table td::before {
    content: attr(data-label);
    font-weight: 600;
    text-align: left;
}

.table td:last-child {
    border-bottom: unset;
}

}

@media print {
* {
    font-size: 11px;
    line-height: 1.4;
}

@page {
    margin: 0mm;
}

.print\:bg-white {
    background-color: var(--white);
}

.print\:text-black {
    color: var(--black);
}

.print\:block {
    display: block;
}

.print\:none {
    display: none;
}

.print\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.print\:absolute {
    position: absolute;
}

.print\:position-none {
    position: unset;
}

.print\:m0 {
    margin: 0px;
}

.print\:p0 {
    padding: 0px;
}

.print\:border-none {
    border-style: none;
}

.print\:rounded-none {
    border-radius: 0;
}

}